a {
    display: flex
}

.card {
    display: grid;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    overflow: hidden;
}

.img {
    display: flex;

    img {
        aspect-ratio: auto;
        object-fit: cover;
        box-shadow: var(--shadow);
    }

}

.cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: #fff;
    /* border-radius: 0 0 1rem 1rem; */

    .title {
        color: var(--color-secondary--dark);
    }

    .cardHeading span {
        font-weight: 700;
    }



}

@container(min-width: 30em) {
    .card {
        grid-template-columns: repeat(2, 1fr);
    }

    .img {
        img {
            aspect-ratio: 2/3;
        }
    }

    .cardInfo {
        border-radius: 0 1rem 1rem 0;
    }

}

@container(min-width: 60em) {
    .card {
        grid-template-columns: 2fr 2fr;
    }

    .img {

        img {
            width: 100%;
            aspect-ratio: 1/1;
            /* object-fit: scale-down; */
            /* border-radius: 1rem; */

        }
    }

    .cardInfo {
        background-color: pink;
    }

}