a {
    display: flex
}

.card {
    display: grid;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    overflow: hidden;
}

.img {
    display: flex;

    img {
        aspect-ratio: auto;
        object-fit: cover;
        box-shadow: var(--shadow);
    }

}

.cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: #fff;


    .title {
        color: var(--color-secondary--dark);
    }

    .cardHeading span {
        font-weight: 700;
    }

}

.btnGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;


}

@container(min-width: 20em) {
    .card {
        grid-template-columns: repeat(1, 1fr);
    }

    .img {
        img {
            aspect-ratio: 3/2;
        }
    }

    .cardInfo {
        border-radius: 0 0 1rem 0;
    }

}

@container(min-width: 40em) {
    .card {
        grid-template-columns: repeat(2, 1fr);
    }


}


@container(min-width: 60em) {
    /* .card {
        grid-template-columns: 2fr 1fr;
    } */

    .img {

        img {
            width: 100vw;
            height: auto;
            max-height: 80vh;
            aspect-ratio: auto;
            object-fit: cover;
        }
    }

    .cardInfo {
        border-radius: unset;


    }

}