.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  /* gap for "delete" btn */
  padding-block-end: 1rem;

  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;

  }
}

.input {
  border: .1rem solid var(--color-grey);
  border-radius: .25rem;
  background-color: var(--color-text--white);
  color: var(--color-primary--dark);
  padding-block: .8rem;
  padding-inline: .5rem;

  &:focus {
    outline: var(--color-accent);
    border: .1rem solid var(--color-grey);
  }

  &:valid {
    border-color: var(--color-accent);
  }
}