/* @import 'tailwindcss'; */
/* CSS Reset */
:root {
  color-scheme: light dark;

  --color-text--white: light-dark(#fff, #e0e0e0);
  --color-text--light: light-dark(#FFF, #f0f0f0);
  --color-text--dark: light-dark(#26211C, #26211C);
  --color-grey: light-dark(#4848488e, #b0b0b08e);

  --color-bg: light-dark(#fdfdfd, #0f1d35);
  --color-input-bg: light-dark(#fff, #696969);
  --color-input-text: light-dark(#3d3d3d, #ffff);
  --color-form-bg: light-dark(#fff, #2e3745);


  --color-primary: light-dark(#0f1d35, #0f1d35);
  --color-primary--light: light-dark(#354359, #1E2E47);
  --color-primary--dark: light-dark(#05152E, #020a16);


  --color-secondary: light-dark(#dcc5a0, #e2d1b6);
  /* form-bg, h2 */
  --color-secondary--light: light-dark(#f1e8da, #9985689e);
  --color-secondary--dark: light-dark(#8C6A3B, #dcc5a0);
  --color-accent: light-dark(#6fa35b, #bed0b8);

  /* 標準化屬性 */
  --transition: .2s;
  /* 深色模式的陰影需要更重、更深 */
  --shadow: light-dark(0 0.25rem 0.75rem #0004, 0 0.25rem 1rem rgba(236, 236, 236, 0.5));
  --shadow--large: light-dark(0 0.5rem 1.5rem #0004, 0 0.5rem 2rem rgba(208, 208, 208, 0.8));
  --shadow--subtle: light-dark(0 0.125rem 0.5rem #0002, 0 0.125rem 0.5rem rgba(168, 168, 168, 0.4));
  --radius: 0.5em;





  /* Fonts */
  --font-primary: "Playfair";
  font-family: var(--font-primary), sans-serif;
  color-scheme: light dark;
  color: var(--color-text-dark);

  /* Standardization */
  --transition: .2s;
  --shadow: 0 0.25rem 0.75rem #0004;
  --shadow--large: 0 0.5rem 1.5rem #0004;
  --shadow--subtle: 0 0.125rem 0.5rem #0002;
  --radius: 0.5em;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  line-height: 1.5;
}

/* Remove default margin in favour of better control in authored CSS */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ol,
ul,
dl,
dd {
  margin: 0 0 1.5rem;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

h1 {
  font-size: clamp(1.8rem, 5cqi, 2.5rem);
}

h2 {
  font-size: clamp(1.602rem, 5cqi, 2rem);
}

h3 {
  font-size: clamp(1.424rem, 5cqi, 1.5rem);
}

h4 {
  font-size: clamp(1.266rem, 5cqi, 1rem);
}

h5 {
  font-size: clamp(1.125rem, 5cqi, 1.25rem);
}



/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}


ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text--dark);
  transition: background-color var(--transition), color var(--transition);
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  color: var(--color-secondary);
  text-decoration: none;
}

a:hover,
a:focus-visible {
  color: var(--color-accent);
}

textarea,
input {
  font-family: inherit;
  font-size: clamp(1rem, 5cqw, 1.2rem);
  color: var(--color-input-text);

  &::placeholder {
    color: var(--color-input-text);
  }

}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Update default button cursor to indicate interactivity */
button {
  cursor: pointer;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 3rem;
}

/* This project only */

button,
.btn {
  font-family: inherit;
  font-size: clamp(.9rem, 5cqw, 1rem);
  line-height: 1.5;
  display: flex;
  justify-content: center;
  padding-inline: 1rem;
  padding-block: 0.3rem;
  background-color: var(--color-primary--light);
  border: .125rem solid var(--color-primary--light);
  border-radius: 1rem;
  color: var(--color-text--white);




  &:where(:hover, :focus-visible) {
    background-color: var(--color-primary--dark);
    border-color: var(--color-primary--dark);
    color: var(--color-text--white);
  }

  @media only screen and (min-width:55em) {
    /* max-width: 80%; */
  }


}